/* adminLoginStyle.css */

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
     max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-form-lable {
    margin-bottom: 5px;
    color: #333;
}

.admin-form-input {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-form-submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-form-submit-button:hover {
    background-color: #45a049;
}

/* Error Message Styles */
.error-message {
    background-color: #ffcccc;
    color: #cc0000;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #cc0000;
}
