@charset "ISO-8859-1";
/* CSS for login page */

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

form {
    max-width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-form-lable {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.admin-form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.admin-form-submit-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.admin-form-submit-button:hover {
    background-color: #0056b3;
}

.error-message {
    margin-top: 20px;
    padding: 10px;
    background-color: #f44336;
    color: #fff;
    border-radius: 5px;
}
